body {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* layouts */

/* Typos */

/* images */

/* Responsive */

@media screen and (min-width: 361px) {
  #container {
    width: 100%;
    max-width: 768px;
  }
}

@media screen and (min-width: 769px) {
  #container {
    max-width: 1224px;
  }
}
