body {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* layouts */

#container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

.container {
  background-color: white;
  border: 0.15rem solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

footer p {
  background-color: #0000ff;
  padding: 0.5rem;
  border-radius: 2rem;
  border: 0.2rem solid #f4f0ec;
  text-align: center;
}

footer a {
  color: #f4f0ec;
  text-decoration: none;
}

/* Typos */

/* images */

/* Responsive */

/* @media screen and (min-width: 361px) {
  #container {
    max-width: 768px;
  }
}

@media screen and (min-width: 769px) {
  #container {
    max-width: 1224px;
  }
} */
